@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.game-container {
    display: flex;
    width: 90%;
    flex-direction: row;
 
}

.game-left img {
    max-width: 400px;
    max-height: 467px;
}

.game-left {
    width: 50%;
}

.game-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.game-right button {
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.p-game {
    margin: auto;
    font-size: 20px;
    color: #ffffff;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
}

.letras-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
